<p>
  <mat-toolbar>
   <button (click)="showMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>IATEC Academy - Angular Material</span>
    <span class="example-spacer"></span>

    <!-- botões para ativar ou desativar o observable responsable por alterar o usuário logado no topo da navbar
    <button (click)="ativar()">ativar</button>
    <button (click)="desativar()" >desativar</button>
    -->

    <div class="div-logged-user">
      <label class="logged-user">{{usuarioLogado}}</label>
    </div>
  </mat-toolbar>
</p>

