<p>
<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Fale conosco</mat-card-title>
      <div class="contact-form">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input required [(ngModel)]="nome" name="nome" matInput placeholder="Informe o nome">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input required [(ngModel)]="email" name="email" type="email" matInput  placeholder="Informe o email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mensagem</mat-label>
          <textarea [(ngModel)]="mensagem"  name="mensagem" matInput placeholder="Informe a mensagem"></textarea>
        </mat-form-field>
        <div class="example-button-row direita">
          <button mat-button color="primary" (click)="sendForm()" >Enviar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
