<mat-card class="mat-card-top">
  <mat-card-header>
    <mat-card-title>Formulário de contato</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-card-subtitle>Envie-nos a sua mensagem, e nossa equipe responderá em breve.</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<p>
<div class="container">
  <mat-card class=".card">
    <mat-card-content>
      <mat-card-title>Forneça seus dados, por favor.</mat-card-title>
      <div class="contact-form">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input required [(ngModel)]="nome" name="nome" matInput placeholder="Informe o nome">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input required [(ngModel)]="email" name="email" type="email" matInput  placeholder="Informe o email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mensagem</mat-label>
          <textarea required [(ngModel)]="mensagem"  name="mensagem" matInput placeholder="Informe a mensagem"></textarea>
        </mat-form-field>
        <div class="example-button-row direita">
          <button mat-button color="primary" (click)="sendForm()" >Enviar</button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer class="mat-card-footer-center">
      <mat-label>{{info}}</mat-label>
    </mat-card-footer>
  </mat-card>
</div>
<p>
