.container{
  display: flex;
  justify-content: center;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.direita{
  text-align: right;
}

.card{
  width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-card-footer-center{
  text-align: center;
  padding: 20px;
  color: chartreuse;
}
