<mat-card>
  <mat-card-header>
    <mat-card-title>Sobre</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-card-subtitle>Informações sobre a nossa empresa</mat-card-subtitle>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <h1>GUIASSYS SOLUTIONS LTDA</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      A Empresa GUIASSYS é uma empresa especializada em fornecer soluções inovadoras para diversas áreas, como tecnologia, saúde e meio ambiente.
    </p>
    <p>
      Nossa missão é tornar a vida das pessoas melhor através de produtos e serviços de alta qualidade e eficiência.
    </p>
    <p>
      Somos comprometidos com a excelência e buscamos constantemente aprimorar nossas soluções para atender às necessidades de nossos clientes.
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button color="primary" mat-button (click)="redirectContactForm()">Entre em contato</button>
  </mat-card-actions>
</mat-card>
<p>

