<mat-card class="mat-card-top">
  <mat-card-header>
    <mat-card-title>Formulário de autenticação</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-card-subtitle>Informe as credenciais de acesso (usuário: admin | senha: admin)</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<p>

<div class="container">
<mat-card>
  <mat-card-header>
    <mat-card-title>Identifique-se</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="login-form">
      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input required [(ngModel)]="username" name="username" matInput placeholder="Informe o usuário">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input required [(ngModel)]="password" name="password" type="password" matInput  placeholder="Informe a senha">
      </mat-form-field>
      <div class="login-message">
        <span>{{message}}</span>
      </div>
      <div class="example-button-row direita">
        <button mat-button color="primary" (click)="btnLogin()" >Enviar</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>
<p>
