<app-navbar></app-navbar>

<section>
  <div class="example-button-row">
    <button mat-stroked-button color="primary" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="Abrir e fechar menu" fontIcon="density_medium"></mat-icon>
    </button>
  </div>
</section>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <!-- lista de menu -->
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
        <a class="nav-link" routerLink="home">Home</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon aria-hidden="false" aria-label="About icon" fontIcon="info"></mat-icon>
        <a class="nav-link" routerLink="about">Sobre</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon aria-hidden="false" aria-label="Contact icon" fontIcon="contact_page"></mat-icon>
        <a class="nav-link" routerLink="contact">Contato</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon aria-hidden="false" aria-label="Serviços" fontIcon="miscellaneous_services"></mat-icon>
        <a class="nav-link" routerLink="service">Serviços</a>
      </mat-list-item>
    </mat-list>

  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

</mat-drawer-container>


