.example-container {
  border: 0px solid rgba(0, 0, 0, 0.5);
  min-height: 80%;
  background-color: #eee;
}

.example-sidenav-content {
  height: 92%;
}

.example-sidenav {
  background-color: #ccc;
  opacity: 90%;
  width: 200px;
}
