<app-navbar></app-navbar>

<section>
  <div class="example-button-row">
    <button mat-stroked-button color="primary" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="Abrir e fechar menu" fontIcon="density_medium"></mat-icon>
    </button>
  </div>
</section>

<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-slidebar></app-slidebar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<app-footer></app-footer>


