<mat-card class="mat-card-top">
  <mat-card-header>
    <mat-card-title>Logout</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-card-subtitle>Finalize a sessão de forma segura</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<p>

<div class="container">
<mat-card>
  <mat-card-header>
    <mat-card-title>Tem certeza que deseja finalizar a sessão?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="logout-form">
      <div class="logout-message">
        <span>Confirme a operação</span>
      </div>
      <div class="example-button-row direita">
        <button mat-button color="primary" (click)="btnLogout()" >Sim</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>
<p>
